<form [formGroup]="itemForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="card p-fluid">
        <div class="field">
            <label >Nuevo password</label>
            <p-password formControlName="password1" [toggleMask]="true" maxlength="30" minlength="8">
                <ng-template pTemplate="header">
                    <h6>Introduzca un password</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>Al menos una minuscula</li>
                        <li>Al menos una mayuscula</li>
                        <li>Al menos un numero</li>
                        <li>Minimo 8 caracteres</li>
                    </ul>
                </ng-template>
            </p-password>
                <small class="p-error block" *ngIf="itemForm.get('password1')?.hasError('required')">password inválido.</small>
                <small class="p-error block" *ngIf="itemForm.get('password1')?.hasError('minlength')">tamaño inválido.</small>
        </div>
        <div class="field">
            <label >Repetir password</label>
            <p-password formControlName="password2" maxlength="30"></p-password>
                <small class="p-error block" *ngIf="itemForm.get('password2')?.hasError('required')">password
                    inválido.</small>
        </div>
    </div>
    <div class="flex justify-content-end flex-wrap">
        <button pButton pRipple label="Aceptar" icon="pi pi-check" class="p-button-text"></button>
    </div>

</form>
