<p-blockUI [blocked]="submited">
    <app-bloqueo></app-bloqueo>
</p-blockUI>

<p-contextMenu #cm [model]="itemsMenu"></p-contextMenu>

<p-card>
    <ng-template pTemplate="title">
        Pedido
    </ng-template>
    <ng-template pTemplate="subtitle">
        Elija el cliente y los productos/servicios
    </ng-template>

    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-10">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-3">
                        <label>Codigo Cliente</label>
                        <p-autoComplete formControlName="cliente" #cliente [suggestions]="listaClientesFiltrados"
                            (completeMethod)="filtrarCliente($event)" [showEmptyMessage]="true" [maxlength]="25"
                            emptyMessage="No existe" [forceSelection]="true" (onSelect)="seleccionarCliente($event)"
                            field="codigoCliente" [delay]=500 [showClear]="true" (onClear)="limpiarCliente()"
                            placeholder="Introduzca el código del cliente" [autofocus]="true">
                            <ng-template let-item pTemplate="item">
                                <div class="row">
                                    <div class="text-wrap">
                                        <b>{{ item.codigoCliente }}</b> - {{ item.nombre }}
                                    </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                        <small class="p-error block" *ngIf="itemForm.get('cliente')?.hasError('required')">
                            Dato requerido.</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Cliente</label>
                        <div class="p-inputgroup">
                            <input type="text" formControlName="nombreCliente" pInputText maxlength="200" readonly
                                tabindex="-1" />

                        </div>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label>Email Cliente</label>
                        <div class="p-inputgroup">
                            <input formControlName="emailCliente" type="text" pInputText id="emailCliente"
                                maxlength="50" readonly tabindex="-1" />
                            <p-button pTooltip="Crear cliente" tooltipPosition="top" (onClick)="adicionarNuevoCliente()"
                                icon="pi pi-user-plus" styleClass="p-button" tabindex="-1"></p-button>
                            <p-button pTooltip="Actualizar cliente" tooltipPosition="top"
                                (onClick)="actualizarCliente()" icon="pi pi-user-edit" styleClass="p-button"
                                tabindex="-1"></p-button>
                        </div>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-12">
                        <label>Producto/Servicio</label>
                        <div class="p-inputgroup">
                            <p-autoComplete formControlName="producto" #producto [suggestions]="listaProductosFiltrados" styleClass="w-full"
                                (completeMethod)="filtrarProducto($event)" [showEmptyMessage]="true" [maxlength]="50"
                                emptyMessage="No existe" [forceSelection]="true" (onSelect)="seleccionarProducto($event)"
                                field="nombre" [delay]=850 [minLength]="3"
                                placeholder="Introduzca el código o nombre del producto/servicio, mínimo 3 caracteres"  [autofocus]="true">
                                <ng-template let-item pTemplate="item">
                                    <div class="p-fluid p-formgrid grid text-wrap">
                                        <div class="field col-12 md:col-2">
                                            <div class="text-center">
                                                <img [ngSrc]="item.imagenRuta  ? item.imagenRuta : 'assets/layout/images/sin-imagen.png'" width="50" height="50" priority/>
                                            </div>
                                        </div>
                                        <div class="field col-12 md:col-10">
                                            <div class="field">
                                                <b>{{ item.codigoProducto }}</b> - {{ item.nombre }}
                                            </div>
                                            <div class="field" *ngIf="item.idTipoProducto==13">
                                                <b>Precio Venta Bs.</b> {{ item.precio | formatoDecimal}}
                                            </div>
                                            <div class="field" *ngIf="item.idTipoProducto==12 && item.saldo">
                                                <b>Stock: </b> {{ item.saldo.codigoStock}} ,  <b> Saldo: </b>  {{item.saldo.saldo}} <br>
                                                <b>Precio Stock Bs.</b> {{ item.saldo.precioCompra | formatoDecimal}} , <b>Precio Venta Bs.</b> {{ item.saldo.precioVenta | formatoDecimal}}<br>
                                            </div>
                                            <div class="field" *ngIf="item.descuento && item.descuento.descuentoEstablecido>0">
                                                <b>Descuento : {{ item.descuento.descuentoEstablecido }} </b> <b>{{esDescuentoPorcentaje(item.descuento.idTipoDescuento) ?' %':' BS'}}</b>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="text-wrap">
                                            <b>{{ item.codigoProducto }}</b> - {{ item.nombre }}<br />
                                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                                <span><b>Precio Bs. {{ item.precio | formatoDecimal}}</b></span>
                                                <span *ngIf="item.idTipoProducto==12">Saldo: {{item.saldo}} </span>
                                            </div>
                                        </div>
                                    </div> -->
                                </ng-template>
                            </p-autoComplete>
                            <p-button label="+" (onClick)="adicionarNuevoProducto()" pTooltip="Crear producto"
                                tooltipPosition="top" icon="pi pi-box" styleClass="p-button" tabindex="-1"></p-button>
                        </div>
                    </div>
                </div>
                <div class="field col-12 md:col-12">
                    <p-divider></p-divider>
                </div>
                <p-table #dt styleClass="p-datatable-sm" [value]="detalle" responsiveLayout="scroll" [rows]="10"
                    [paginator]="false" [rowHover]="true" dataKey="id" (onEditComplete)="onEditComplete($event)"
                    [contextMenu]="cm"
                    [(contextMenuSelection)]="detalleSeleccionado"
                    >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>N°</th>
                            <th style="text-align:center; width:10%">Código</th>
                            <th style="text-align:center; width:25%">Producto/Servicio</th>
                            <th style="text-align:center; width:10%" *ngIf="mostrarPresupuesto()">Pres./Num.</th>
                            <th *ngIf="esConDescripcionAdicional()" style="text-align:center; width:20%">Desc. Adicional</th>
                            <th style="text-align:center; width:10%">Cantidad</th>
                            <th style="text-align:center; width:10%">Precio</th>
                            <th style="text-align:center; width:10%">Subtotal</th>
                            <th style="text-align:center; width:10%">Descuento</th>
                            <th style="text-align:center; width:10%">Total</th>
                            <th style="text-align:center; width:5%"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-i="rowIndex" let-item>
                        <tr [pContextMenuRow]="item">
                            <td><b>{{ i + 1 }}</b></td>
                            <td>{{item.codigoProducto}}</td>
                            <td>{{item.producto}}</td>
                            <td *ngIf="mostrarPresupuesto()" pEditableColumn [pEditableColumn]="item" [pEditableColumnField]="'codigo'">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <span class="p-fluid">
                                            <input [(ngModel)]="item.codigo" [ngModelOptions]="{standalone: true}"
                                                type="text" pInputText maxlength="20"
                                                oninput="this.value = this.value.toUpperCase()"
                                                onfocus="this.select();" />
                                        </span>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{item.codigo}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td *ngIf="esConDescripcionAdicional()"  pEditableColumn [pEditableColumn]="item" [pEditableColumnField]="'descripcionAdicional'">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                           <textarea [(ngModel)]="item.descripcionAdicional" [ngModelOptions]="{standalone: true}" style="width: 100% !important; height: 100px;"
                                            pInputTextarea  [maxlength]="200" onfocus="this.select();">
                                           </textarea>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{item.descripcionAdicional}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td pEditableColumn class="text-right" [pEditableColumn]="item"
                                [pEditableColumnField]="'cantidad'">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <span class="p-fluid">
                                            <p-inputNumber [(ngModel)]="item.cantidad"
                                                [ngModelOptions]="{standalone: true}" locale="en-US" [maxlength]="10"
                                                [inputStyle]="{'text-align': 'right'}" mode="decimal"
                                                [minFractionDigits]="2" [maxFractionDigits]="2" [step]="0"
                                                (onFocus)="$event.target.select()">
                                            </p-inputNumber>
                                        </span>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{item.cantidad }}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td pEditableColumn class="text-right" [pEditableColumn]="item"
                                [pEditableColumnField]="'precio'">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <span class="p-fluid">
                                            <p-inputNumber [(ngModel)]="item.precio"
                                                [ngModelOptions]="{standalone: true}" locale="en-US" [maxlength]="10"
                                                [inputStyle]="{'text-align': 'right'}" mode="decimal"
                                                [minFractionDigits]="2" [maxFractionDigits]="2" [step]="0"
                                                (onFocus)="$event.target.select()"></p-inputNumber>
                                        </span>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{item.precio | formatoDecimal}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td class="text-right">{{item.subtotal | formatoDecimal}}</td>

                            <td pEditableColumn class="text-right" [pEditableColumn]="item"
                                [pEditableColumnField]="'descuento'">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <span class="p-fluid">
                                            <p-inputNumber [(ngModel)]="item.descuento"
                                                [ngModelOptions]="{standalone: true}" locale="en-US" [maxlength]="10"
                                                [inputStyle]="{'text-align': 'right'}" mode="decimal" [readonly]="!esDescuentoTotal(item.idTipoDescuento)"
                                                [minFractionDigits]="2" [maxFractionDigits]="2" [step]="0"
                                                (onFocus)="$event.target.select()"></p-inputNumber>
                                        </span>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{item.descuento | formatoDecimal}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td class="text-right">{{item.total | formatoDecimal}}</td>
                            <td style="width:5rem; min-width:2rem;">
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                        (click)="deleteItem(item)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td *ngIf="!mostrarPresupuesto() && !esConDescripcionAdicional()" colspan="5" class="text-right">TOTALES</td>
                            <td *ngIf="!mostrarPresupuesto() && esConDescripcionAdicional()" colspan="6" class="text-right">TOTALES</td>
                            <td *ngIf="mostrarPresupuesto() && !esConDescripcionAdicional()" colspan="6" class="text-right">TOTALES</td>
                            <td *ngIf="mostrarPresupuesto() && esConDescripcionAdicional()" colspan="7" class="text-right">TOTALES</td>
                            <td class="text-right">{{getDetalleSubtotal() | formatoDecimal}}</td>
                            <td class="text-right">{{getDetalleDescuento() | formatoDecimal}}</td>
                            <td class="text-right">{{getDetalleTotal() | formatoDecimal}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!--<p-divider layout="vertical" ></p-divider>-->
            <div class="field col-12 md:col-2">
                <div class="field">
                    <label>CODIGO VENTA</label>
                    <input type="text" formControlName="correlativo" pInputText />
                </div>
                <div class="field">
                    <label>FECHA VENTA</label>
                    <input pInputText type="text" formControlName="fecha" readonly="true" />
                </div>
                <div class="field">
                    <label for="firstname1">TOTAL</label>
                    <p-inputNumber [ngModel]="getDetalleTotal()" [ngModelOptions]="{standalone: true}" locale="en-US"
                        id="total" [maxlength]="17" [inputStyle]="{'text-align': 'right'}" mode="decimal"
                        [minFractionDigits]="2" [maxFractionDigits]="2" [readonly]="true">
                    </p-inputNumber>
                </div>
                <div class="field">
                    <label for="lastname1">DESCUENTO ADICIONAL</label>
                    <p-inputNumber formControlName="descuentoAdicional" #descuentoAdicional locale="en-US"
                        id="descuentoAdicional" (onInput)="keyInput($event, 'descuentoAdicional')" [maxlength]="17"
                        [inputStyle]="{'text-align': 'right'}" mode="decimal" [minFractionDigits]="2"
                        [maxFractionDigits]="2"></p-inputNumber>
                    <small class="p-error block" *ngIf="itemForm.get('descuentoAdicional')?.hasError('required')">
                        Dato requerido.</small>
                </div>
                <div class="field">
                    <label for="lastname1">IMPORTE FINAL</label>
                    <p-inputNumber [ngModel]="getTotalSujetoIva()" [ngModelOptions]="{standalone: true}" locale="en-US"
                        id="total" [maxlength]="17" [inputStyle]="{'text-align': 'right'}" mode="decimal"
                        [minFractionDigits]="2" [maxFractionDigits]="2" [readonly]="true">
                    </p-inputNumber>
                </div>
                <div class="field">
                    <label>Tipo Venta</label>
                    <p-dropdown appendTo="body" formControlName="idTipoVenta" id="idTipoVenta"
                        [options]="listaTipoVenta" optionLabel="nombre" optionValue="id"
                        placeholder="Seleccione una opción" (onChange)="canbioTipoVenta($event)">
                    </p-dropdown>
                    <small class="p-error block" *ngIf="itemForm.get('idTipoVenta')?.hasError('required')">Dato
                        requerido
                    </small>
                </div>
                <div class="field">
                    <label>Dias Crédito</label>
                    <p-inputNumber formControlName="diasCredito" locale="en-US" id="diasCredito" [maxlength]="3"
                        [inputStyle]="{'text-align': 'right'}" mode="decimal" [minFractionDigits]="0"
                        [maxFractionDigits]="0"></p-inputNumber>
                    <small class="p-error block" *ngIf="itemForm.get('diasCredito')?.hasError('required')">
                        Dato requerido.</small>
                </div>
            </div>
        </div>
        <p-divider type="dashed"></p-divider>
        <div class="flex justify-content-between flex-wrap card-container purple-container">
            <div class="flex align-items-center justify-content-center m-2">
                <button pButton label="Ventas" (click)="prevPage()" icon="pi pi-angle-left"></button> &nbsp;
            </div>
            <div class="flex align-items-center justify-content-center m-2">
                <!-- <p-splitButton label="Cotización" icon="pi pi-pencil" [model]="opcionesCotizacion"></p-splitButton>&nbsp; -->
                <button pButton label="Crear Cotización" icon="pi pi-pencil" iconPos="right" (click)="onCotizacion()"></button>&nbsp;
                <button pButton label="Siguiente" icon="pi pi-angle-right" iconPos="right" (click)="onSave()"></button>
            </div>
        </div>
    </form>

</p-card>


