<p-blockUI [blocked]="submited">
    <app-bloqueo></app-bloqueo>
</p-blockUI>
<div class="card">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-8">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-12">

                        <div class="flex flex-wrap card-container blue-container" style="width: 100%">
                            <div *ngFor="let categoria of categorias; let i = index"
                            class="flex align-items-center justify-content-center bg-green-500 font-bold text-white m-2 border-round" style="min-width: 100px; min-height: 30px; cursor: pointer;"
                            (click)="cargarProductosPorCategoria(categoria.id)"
                            >
                            {{categoria.nombre}}</div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-12">
                        <div class="p-inputgroup">
                            <p-autoComplete formControlName="producto" #producto styleClass="w-full"
                                [suggestions]="listaProductosFiltrados" (completeMethod)="filtrarProducto($event)"
                                [showEmptyMessage]="true" emptyMessage="No existe" [forceSelection]="true"
                                [minLength]="1" [maxlength]="50" field="nombre"
                                placeholder="Introduzca el código o nombre del producto/servicio" [delay]=750 [autofocus]="true">

                            </p-autoComplete>
                            <!-- <p-button label="+" (onClick)="adicionarNuevoProducto()" pTooltip="Crear producto"
                                tooltipPosition="top" icon="pi pi-box"  styleClass="p-button" tabindex="-1"></p-button> -->
                        </div>
                    </div>


                    <div class="field col-12 md:col-12">
                        <p-scrollPanel [style]="{width: '100%', height: '500px'}">
                            <p-dataView #dv [value]="listaProductos" [rows]="9" filterBy="name" layout="grid" emptyMessage="NO EXISTE PRODUCTOS">
                                <!-- <ng-template pTemplate="header">
                                    <div class="flex flex-column md:flex-row md:justify-content-between">
                                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                                        <span class="p-input-icon-left mb-2 md:mb-0">
                                            <i class="pi pi-search"></i>
                                            <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                                        </span>
                                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                                    </div>
                                </ng-template> -->
                                <ng-template let-product pTemplate="gridItem">
                                    <div class="col-12 md:col-3">


                                        <div pRipple class="product-grid-item card purple" (click)="addItem(product)">
                                            <div class="product-grid-item-top">
                                                <div>
                                                    <i class="pi pi-tag product-category-icon"></i>
                                                    <span class="product-category"> <b>{{ product.codigoProducto }}</b></span>
                                                </div>
                                                <!-- <div *ngIf="product.descuento && product.descuento.descuentoEstablecido>0">
                                                    <img class="descuento-imagen" src="assets/images/oferta.png" alt="oferta" height="50" width="50" />
                                                </div> -->

                                                <div class="product-badge icon-descuento" *ngIf="product.descuento && product.descuento.descuentoEstablecido>0">
                                                        <span> <b>{{ product.descuento.descuentoEstablecido}}{{esDescuentoPorcentaje(product.descuento.idTipoDescuento) ?'%':'BS'}}</b></span>
                                                        <!-- <img src="assets/images/oferta.png" alt="oferta" height="50" width="50" /> -->

                                                </div>
                                            </div>
                                            <div class="product-grid-item-content">
                                                <div class="text-center">
                                                    <img [src]="product.imagenRuta  ? product.imagenRuta : 'assets/layout/images/sin-imagen.png'" [alt]="product.imagenNombre" width="80" height="80"  />
                                                </div>
                                                <!-- <div class="product-name">{{product.codigoProducto}}</div> -->
                                                <div class="field">
                                                     {{ product.nombre }}
                                                </div>
                                                <div class="field" *ngIf="product.idTipoProducto==13">
                                                    <b>Bs.</b> {{ product.precio | formatoDecimal}}
                                                </div>
                                                <!-- <p-rating [ngModel]="product.rating"></p-rating> -->
                                            </div>
                                            <div class="product-grid-item-bottom">
                                                <div class="field" *ngIf="product.idTipoProducto==12 && product.saldo">
                                                    <!-- <b>Stock: </b> {{ product.saldo.codigoStock}} -->

                                                    <!-- <b>Precio Stock Bs.</b> {{ product.saldo.precioCompra | formatoDecimal}} , <b>Precio Venta Bs.</b> {{ product.saldo.precioVenta | formatoDecimal}}<br> -->
                                                    <b>Bs.</b> {{ product.saldo.precioVenta | formatoDecimal}}
                                                    <b>  Saldo: </b>  {{product.saldo.saldo}}
                                                </div>
                                                <!-- <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button> -->
                                            </div>
                                       </div>
                                    </div>
                                </ng-template>
                            </p-dataView>
                        </p-scrollPanel>
                    </div>
                </div>
            </div>

            <!--<p-divider layout="vertical" ></p-divider>-->
            <div class="field col-12 md:col-4">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <input type="text" formControlName="correlativo" pInputText />
                    </div>


                    <div class="field col-12 md:col-6">
                        <div class="p-inputgroup">
                            <p-autoComplete formControlName="cliente" #cliente [suggestions]="listaClientesFiltrados" styleClass="w-full"
                            (completeMethod)="filtrarCliente($event)" [showEmptyMessage]="true" [maxlength]="25"
                            emptyMessage="No existe" [forceSelection]="true" (onSelect)="seleccionarCliente($event)"
                            field="codigoCliente" [delay]=500 [showClear]="true" (onClear)="limpiarCliente()"  (onFocus)="$event.target.select()"
                            placeholder="Introduzca el código del cliente" [autofocus]="true">
                            <ng-template let-item pTemplate="item">
                                <div class="row">
                                    <div class="text-wrap">
                                        <b>{{ item.codigoCliente }}</b> - {{ item.nombre }}
                                    </div>
                                </div>
                            </ng-template>
                            </p-autoComplete>
                            <p-button pTooltip="Crear cliente"  tooltipPosition="top" (onClick)="adicionarNuevoCliente()"
                        icon="pi pi-user-plus" styleClass="p-button" tabindex="-1"></p-button>

                        </div>
                        <small class="p-error block" *ngIf="itemForm.get('cliente')?.hasError('required')">
                            Dato requerido.</small>
                    </div>



                    <div class="field col-12 md:col-6">
                               <input type="text" formControlName="nombreCliente" pInputText maxlength="200" readonly
                                tabindex="-1" />

                    </div>
                    <div class="field col-12 md:col-6">
                        <div class="p-inputgroup">
                            <input formControlName="emailCliente" type="text" pInputText id="emailCliente"
                                maxlength="50" readonly tabindex="-1" />
                                <p-button pTooltip="Actualizar cliente" tooltipPosition="top"
                                (onClick)="actualizarCliente()" icon="pi pi-user-edit" styleClass="p-button"
                                tabindex="-1"></p-button>
                        </div>
                    </div>


                    <div class="field col-12 md:col-12">
                        <p-dropdown appendTo="body" formControlName="idMesa" id="idMesa" styleClass="w-full"
                            [options]="listaMesa" optionLabel="numero" optionValue="id"
                            placeholder="SIN MESA"  [showClear]="true" >
                            <ng-template let-item pTemplate="item">
                                {{item.lugar }} - {{item.numero}}
                            </ng-template>
                            <ng-template let-item pTemplate="selectedItem">
                               {{item.lugar }} - {{item.numero}}
                            </ng-template>
                        </p-dropdown>
                    </div>


                    <div class="field col-12 md:col-12">
                        <!-- <p-divider></p-divider> -->

                        <p-scrollPanel [style]="{width: '100%', height: '330px'}">
                            <p-table #dt styleClass="p-datatable-sm" [value]="detalle" responsiveLayout="scroll" [rows]="10"
                            [paginator]="false" [rowHover]="true" dataKey="id" (onEditComplete)="onEditComplete($event)"
                            [(contextMenuSelection)]="detalleSeleccionado"
                            >
                            <!-- <ng-template pTemplate="header">
                                <tr>
                                    <th style="text-align:center; width:45%">Producto/Servicio</th>
                                    <th style="text-align:center; width:30%">Cantidad</th>
                                    <th style="text-align:center; width:10%">Sub Total</th>
                                    <th style="text-align:center; width:5%"></th>
                                </tr>
                            </ng-template> -->
                            <ng-template pTemplate="body" let-i="rowIndex" let-item>
                                <tr [pContextMenuRow]="item">
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="output">
                                                <label >{{item.producto }}</label><br/>
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="text-center">
                                        <div class="p-inputgroup" style="align-items: center">
                                            <button (click)="addItem(item)" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-text"></button>
                                            <label style="width: 30px;" ><b>
                                                {{item.cantidad }}
                                            </b></label>

                                            <button (click)="reduceItem(item)" pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-text"></button>
                                        </div>
                                    </td>

                                    <td class="text-right">{{item.total | formatoDecimal}}</td>
                                    <td style="width:2rem; min-width:2rem;">
                                        <div class="flex">
                                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                                (click)="deleteItem(item)"></button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <!-- <ng-template pTemplate="footer">
                                <tr>
                                    <td colspan="2" class="text-right">TOTALES</td>
                                    <td class="text-right">{{getDetalleSubTotal() | formatoDecimal}}</td>
                                </tr>
                            </ng-template> -->
                            </p-table>
                        </p-scrollPanel>


                    </div>
                    <div class="field col-12 md:col-12">
                        <div class="field grid">
                            <label for="subtotal" class="col-12 mb-2 md:col-4 md:mb-0">SubTotal</label>
                            <div class="col-12 md:col-8">
                                <p-inputNumber [ngModel]="getDetalleTotal()" [ngModelOptions]="{standalone: true}" locale="en-US"
                        id="total" [maxlength]="17" [inputStyle]="{'text-align': 'right'}" mode="decimal"
                        [minFractionDigits]="2" [maxFractionDigits]="2" [readonly]="true">
                    </p-inputNumber>
                            </div>
                        </div>
                        <div class="field grid">
                            <label for="descuento" class="col-12 mb-2 md:col-4 md:mb-0">Descuento</label>
                            <div class="col-12 md:col-8">
                                <p-inputNumber formControlName="descuentoAdicional" #descuentoAdicional locale="en-US"
                        id="descuentoAdicional" (onInput)="keyInput($event, 'descuentoAdicional')" [maxlength]="17"
                        [inputStyle]="{'text-align': 'right'}" mode="decimal" [minFractionDigits]="2"
                        [maxFractionDigits]="2"
                        (onFocus)="$event.target.select()"
                        ></p-inputNumber>
                            </div>
                        </div>
                        <div class="field grid">
                            <label for="total" class="col-12 mb-2 md:col-4 md:mb-0">Total</label>
                            <div class="col-12 md:col-8">
                                <p-inputNumber [ngModel]="getTotalSujetoIva()" [ngModelOptions]="{standalone: true}" locale="en-US"
                                id="total" [maxlength]="17" [inputStyle]="{'text-align': 'right'}" mode="decimal"
                                [minFractionDigits]="2" [maxFractionDigits]="2" [readonly]="true">
                                </p-inputNumber>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="flex justify-content-between flex-wrap card-container purple-container">
            <div class="flex align-items-center justify-content-center m-2">
                <button pButton label="MESAS" icon="pi pi-table" iconPos="left" (click)="prevPage()"></button>&nbsp;
            </div>
            <div class="flex align-items-center justify-content-center m-2">
                <button pButton label="COMANDA" icon="pi pi-print" class="p-button-secondary" iconPos="right" (click)="onPrintComanda()"></button>&nbsp;
                <button pButton label="CUENTA" icon="pi pi-print" class="p-button-secondary" iconPos="right" (click)="onPrintCuenta()"></button>&nbsp;
                <button pButton label="GUARDAR" icon="pi pi-save" iconPos="right" (click)="onSave()"></button>&nbsp;
                <button pButton label="COBRAR" icon="pi pi-money-bill" iconPos="left" (click)="onPay()"></button>&nbsp;
                <!-- <p-button label="COBRAR" icon="pi pi-money-bill" iconPos="left" (onClick)="onFinalize()"></p-button> -->
            </div>
        </div>
    </form>
</div>


