<p-blockUI [blocked]="blockedPanel"> <app-bloqueo></app-bloqueo></p-blockUI>
<p-panel header="BUSQUEDA" [toggleable]="true">
    <form [formGroup]="criteriosBusquedaForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <!-- <p><b>Criterios de busqueda</b></p> -->
        <div class="p-fluid p-formgrid grid" *ngIf="esSuperAdm()">
            <div class="field col-12 md:col-2">
                <label>Empresa:</label>
                <p-dropdown appendTo="body" [(ngModel)]="idEmpresa" [ngModelOptions]="{standalone: true}"  id="idEmpresa" [autofocus]="true"
                [options]="listaEmpresas" optionLabel="nombre" optionValue="id" (onChange)="cambioEmpresa($event)"
                placeholder="Seleccione una empresa"
                ></p-dropdown>
            </div>
        </div>
            <div class="p-fluid p-formgrid grid">


                <!-- <div class="field col-12 md:col-2">
                    <label htmlFor="name2">Fecha Inicio</label>
                    <p-calendar formControlName="fechaInicio" inputId="fechaInicio" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                    <small class="p-error block" *ngIf="criteriosBusquedaForm.get('fechaInicio')?.hasError('required')">
                        Fecha inválida.</small>
                </div>
                <div class="field col-12 md:col-2">
                    <label htmlFor="name2">Fecha Fin</label>
                    <p-calendar formControlName="fechaFin" inputId="fechaFin" [showIcon]="true"  dateFormat="dd/mm/yy"></p-calendar>
                    <small class="p-error block" *ngIf="criteriosBusquedaForm.get('fechaFin')?.hasError('required')">
                        Fecha inválida.</small>
                </div> -->
                <div class="field col-12 md:col-3">
                    <label>Sucursal</label>
                        <p-dropdown appendTo="body" formControlName="idSucursal" id="idSucursal"
                            [options]="listaSucursales" optionLabel="direccion" optionValue="id"  [showClear]="true" placeholder="TODOS">
                            <ng-template let-item pTemplate="item">
                                <div class="text-wrap">
                                    <div>{{item.numero}} - {{item.direccion}}</div>
                                </div>
                            </ng-template></p-dropdown>
                </div>

                <div class="field col-12 md:col-3">
                    <label>Código Cotización</label>
                    <input type="text"pKeyFilter="alphanum" placeholder="Introduzca el código Ej. AB23CT1" formControlName="correlativo" id="correlativo" uppercase onfocus="this.select();"
                    pInputText maxlength="20"/>
                </div>

                <div class="field col-12 md:col-3">
                    <label>Codigo Cliente</label>
                    <p-autoComplete formControlName="cliente" #cliente [suggestions]="listaClientesFiltrados"
                        (completeMethod)="filtrarCliente($event)" [showEmptyMessage]="true" [maxlength]="25"
                        emptyMessage="No existe" [forceSelection]="true" (onSelect)="seleccionarCliente($event)"
                        field="codigoCliente" [delay]=500 [showClear]="true" (onClear)="limpiarCliente()"
                        placeholder="Introduzca el código del cliente" [autofocus]="true">
                        <ng-template let-item pTemplate="item">
                            <div class="row">
                                <div class="text-wrap">
                                    <b>{{ item.codigoCliente }}</b> - {{ item.nombre }}
                                </div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
            </div>
            <p-divider type="dashed"></p-divider>
            <div class="flex justify-content-end flex-wrap">
                <button pButton pRipple label="Buscar" icon="pi pi-search" class="p-button mr-2"></button>
            </div>

    </form>
</p-panel>
<p-panel header="COTIZACIONES" [toggleable]="true">
    <p-table #dt styleClass="p-datatable-sm" [value]="items" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['correlativo','numeroSucursal','fecha','codigoCliente','nombreCliente','descuentoAdicional','total','totalSujetoIva','estadoCotizacion','diasCredito','tipoCotizacion','saldo']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowHover]="true"
        dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Filtrar...."
                        class="w-full sm:w-auto" />
                </span>
                <div class="flex">
                    <!-- <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"  (click)="newItem()"></button> -->
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>N°</th>
                <th pSortableColumn="correlativo">Código<p-sortIcon field="correlativo"></p-sortIcon>
                </th>
                <th pSortableColumn="numeroSucursal">Sucursal<p-sortIcon field="numeroSucursal"></p-sortIcon>
                </th>
                <th pSortableColumn="fecha">Fecha<p-sortIcon field="fecha"></p-sortIcon>
                </th>
                <th pSortableColumn="codigoCliente">Código Cliente<p-sortIcon field="codigoCliente"></p-sortIcon>
                </th>
                <th pSortableColumn="nombreCliente">Cliente<p-sortIcon field="nombreCliente"></p-sortIcon>
                </th>
                <th pSortableColumn="totalSujetoIva">Total<p-sortIcon field="totalSujetoIva"></p-sortIcon>
                </th>
                <th>Dias Validez</th>
                <th>Fecha Limite</th>
                <th>Descripcion</th>
            <th>Usuario</th>
            <th>Operación</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-i="rowIndex" let-item>
            <tr>
                <td><b>{{ i + 1 }}</b></td>
                <td>{{item.correlativo }}</td>
                <td>{{item.numeroSucursal }}</td>
                <td>{{item.fecha  | formatoFechaHora }}</td>
                <td>{{item.codigoCliente}}</td>
                <td>{{item.nombreCliente}}</td>
                <td class="text-right">{{item.totalSujetoIva | formatoDecimal}}</td>
                <td class="text-center" >{{item.diasCotizacion}}</td>
                <td>{{item.fechaLimite | formatoFechaHora }}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.usuario}}</td>
                <td style="width:5rem; min-width:5rem;">
                    <div class="flex">
                        <button appendTo="body" pButton pRipple pTooltip="Descargar"  tooltipPosition="top"   icon="pi pi-cloud-download" class="p-button-rounded p-button-primary mr-2"
                            (click)="opcionCotizacionDescargar(item)"></button>
                        <!-- <button appendTo="body" pButton pRipple pTooltip="Enviar Whatsapp"  tooltipPosition="top"   icon="pi pi-whatsapp" class="p-button-rounded p-button-primary mr-2"
                            (click)="opcionCotizacionWhatsapp(item)"></button> -->
                        <button appendTo="body" pButton pRipple pTooltip="Cargar en Venta"  tooltipPosition="top"   icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2"
                            (click)="opcionCotizacionVender(item)"></button>
                        <button pButton pRipple pTooltip="Eliminar cotizacion"  tooltipPosition="top"  icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="deleteItem(item)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<p-menu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menuCotizacion [popup]="true" [model]="itemsMenuCotizacion"></p-menu>
