    <div class="grid" *ngIf="resumen">
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Ventas</span>
                            <div class="text-900 font-medium text-xl">{{resumen.cantidadVentasDia}}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                            <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                        </div>
                    </div>
                    <!--<span class="text-green-500 font-medium">24 nuevos </span>-->
                    <span class="text-500">Día Actual</span>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Ingresos</span>
                            <div class="text-900 font-medium text-xl">Bs {{resumen.montoVentasDia}}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                            <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                        </div>
                    </div>
                    <!--<span class="text-green-500 font-medium">%52+ </span>-->
                    <span class="text-500">Día Actual</span>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Compras</span>
                            <div class="text-900 font-medium text-xl">{{resumen.cantidadComprasDia}}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                            <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                        </div>
                    </div>
                    <!--<span class="text-green-500 font-medium">%52+ </span>-->
                    <span class="text-500">Día Actual</span>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Traspasos</span>
                            <div class="text-900 font-medium text-xl">{{resumen.cantidadTraspasosDia}}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                            <i class="pi pi-comment text-purple-500 text-xl"></i>
                        </div>
                    </div>
                    <!--<span class="text-green-500 font-medium">%52+ </span>-->
                    <span class="text-500">Día Actual</span>
                </div>
            </div>


        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Ventas recientes</h5>
                <p-table [value]="resumen.listaVentasRecientes" [paginator]="false" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Código Venta</th>
                            <th>Sucursal</th>
                            <th>Código Cliente</th>
                            <th>Cliente</th>
                            <th>Total</th>
                            <th>Estado</th>
                            <th>Tipo</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td >{{product.correlativo}}</td>
                            <td >{{product.numeroSucursal}}</td>
                            <td >{{product.codigoCliente}}</td>
                            <td >{{product.nombreCliente}}</td>
                            <td >{{product.total}}</td>
                            <td >{{product.estadoVenta}}</td>
                            <td >{{product.tipoVenta}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5>Productos más vendidos</h5>
                    <!--<div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>-->
                </div>
                <ul class="list-none p-0 m-0" *ngFor="let item of resumen.listaPoductosMasVendidos">
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4" >
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{item.categoria}}</span>
                            <div class="mt-1 text-600">{{item.codigoProducto}}  -  {{item.producto}}</div>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-orange-500 h-full" [ngStyle]="{'width': item.porcentaje +'%'}"></div>
                            </div>
                            <span class="text-orange-500 ml-3 font-medium">% {{item.porcentaje}}</span>
                        </div>
                    </li>
                 </ul>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Resumen de Ventas</h5>
                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>

            <div class="card" >
                <div class="flex align-items-center justify-content-between mb-4">
                    <h5>Notificaciones</h5>
                    <!--<div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>-->
                </div>

                <!--<span class="block text-600 font-medium mb-3">Hoy</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Richard Jones
                    <span class="text-700"> has purchased a blue t-shirt for <span class="text-blue-500">79$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-download text-xl text-orange-500"></i>
                        </div>
                        <span class="text-700 line-height-3">Your request for withdrawal of <span class="text-blue-500 font-medium">2500$</span> has been initiated.</span>
                    </li>
                </ul>-->
            </div>


    </div>
</div>

