<p-blockUI [blocked]="submited"><app-bloqueo></app-bloqueo></p-blockUI>
<form [formGroup]="itemForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="card p-fluid">
        <div class="field">
            Se revertira la anulación de la siguiente factura
        </div>
        <div class="field" style="overflow-wrap: break-word;">
            Cuf: {{item?.cuf}}
        </div>
        <div class="field">
            N° Factura: {{item?.numeroFactura}}
        </div>
    <br>
    </div>
    <div class="flex justify-content-end flex-wrap">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-button-text"
            (click)="onClose()"></button>
        <button pButton pRipple label="Aceptar" icon="pi pi-check" class="p-button-text" (click)="onSave()"
            ></button>
    </div>
</form>
