<p-blockUI [blocked]="submited"> <app-bloqueo></app-bloqueo></p-blockUI>
<form [formGroup]="itemForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="card">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-3">
                <label>Empresa</label>
                <p-dropdown appendTo="body" formControlName="idEmpresa" id="idEmpresa"
                    [options]="listaEmpresas" optionLabel="nombre" optionValue="id"  placeholder="Seleccione una opción"
                    (onChange)="cambioEmpresa($event)" [showClear]="true"
                    ></p-dropdown>
                <small class="p-error block" *ngIf="itemForm.get('idEmpresa')?.hasError('required')">Tipo
                    Dato requerido.</small>
            </div>
            <div class="field col-12 md:col-3">
                <label>Sucursal</label>
                <p-dropdown appendTo="body" formControlName="numeroSucursal" id="numeroSucursal" [options]="listaSucursales"
                    optionLabel="direccion"  optionValue="numero" placeholder="Seleccione una opción" >
                <ng-template let-suc pTemplate="item">
                    <div class="text-wrap">
                        <div>{{suc.numero}} - {{suc.direccion}}</div>
                    </div>
                </ng-template>
                </p-dropdown>
                <small class="p-error block" *ngIf="itemForm.get('numeroSucursal')?.hasError('required')">Sucursal inválida.</small>
            </div>

            <div class="field col-12 md:col-3">
                <label>Tipo Punto Venta</label>
                <p-dropdown appendTo="body" formControlName="codigoTipoPuntoVenta" id="codigoTipoPuntoVenta"
                    [options]="listaTipos" optionLabel="descripcion" optionValue="codigo"
                    placeholder="Seleccione una opción">
                    <ng-template let-i pTemplate="item">
                        <div class="text-wrap">
                            <div>{{i.descripcion}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error block"
                    *ngIf="itemForm.get('codigoTipoPuntoVenta')?.hasError('required')">Producto Sin
                    inválido.</small>
            </div>

            <div class="field col-12 md:col-3">
                <label>Número Punto Venta</label>
                <p-inputNumber formControlName="numeroPunto"  mode="decimal" [min]="0" [max]="99" id="numeroPunto" autofocus [maxlength]="2" ></p-inputNumber>
                <small class="p-error block" *ngIf="itemForm.get('numeroPunto')?.hasError('required')">Dato requerido.</small>
            </div>
            <div class="field col-12 md:col-3">
                <label>Nombre</label>
                <input formControlName="nombre" type="text" pInputText id="nombre" maxlength="30" oninput="this.value = this.value.toUpperCase()"/>
                <small class="p-error block" *ngIf="itemForm.get('nombre')?.hasError('required')">Dato requerido.</small>
            </div>
            <div class="field col-12 md:col-3">
                <label>Descripción</label>
                <input formControlName="descripcion" type="text" pInputText id="descripcion" maxlength="30" oninput="this.value = this.value.toUpperCase()"/>
                <small class="p-error block" *ngIf="itemForm.get('descripcion')?.hasError('required')">Dato requerido.</small>
            </div>

        </div>
    </div>
    <div class="flex justify-content-end flex-wrap">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary p-button-text" (click)="onClose()"></button>
        <button pButton pRipple label="Aceptar" icon="pi pi-check" class="p-button-text" (click)="onSave()"></button>
    </div>
</form>
