<p-blockUI [blocked]="blockedPanel"> <app-bloqueo></app-bloqueo></p-blockUI>

<div class="card">
    <p-tabView>
        <p-tabPanel header="Busqueda General" [selected]="true">
            <form [formGroup]="criteriosBusquedaForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <!-- <p><b>Criterios de busqueda</b></p> -->
                <div class="p-fluid p-formgrid grid" *ngIf="esSuperAdm()">
                    <div class="field col-12 md:col-2">
                        <label>Empresa:</label>
                        <p-dropdown appendTo="body" [(ngModel)]="idEmpresa" [ngModelOptions]="{standalone: true}"  id="idEmpresa" [autofocus]="true"
                        [options]="listaEmpresas" optionLabel="nombre" optionValue="id" (onChange)="cambioEmpresa($event)"
                        placeholder="Seleccione una empresa"
                        ></p-dropdown>
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-2">
                        <label htmlFor="name2">Fecha Inicio</label>
                        <p-calendar formControlName="fechaInicio" inputId="fechaInicio" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                        <small class="p-error block" *ngIf="criteriosBusquedaForm.get('fechaInicio')?.hasError('required')">
                            Fecha inválida.</small>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label htmlFor="name2">Fecha Fin</label>
                        <p-calendar formControlName="fechaFin" inputId="fechaFin" [showIcon]="true"  dateFormat="dd/mm/yy"></p-calendar>
                        <small class="p-error block" *ngIf="criteriosBusquedaForm.get('fechaFin')?.hasError('required')">
                            Fecha inválida.</small>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label>Sucursal</label>
                            <p-dropdown appendTo="body" formControlName="sucursal" id="sucursal"
                                [options]="listaSucursales" optionLabel="direccion" optionValue="numero"  [showClear]="true" placeholder="TODOS"
                                (onChange)="canbioSucursal($event)">
                                <ng-template let-item pTemplate="item">
                                    <div class="text-wrap">
                                        <div>{{item.numero}} - {{item.direccion}}</div>
                                    </div>
                                </ng-template></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label>Punto Venta</label>
                            <p-dropdown appendTo="body" formControlName="puntoVenta" id="puntoVenta"
                                [options]="listaPuntoVenta" optionLabel="nombre" optionValue="numeroPuntoVenta"  [showClear]="true" placeholder="TODOS">
                                <ng-template let-pt pTemplate="item">
                                    <div class="text-wrap">
                                        <div>{{pt.numeroPuntoVenta}} - {{pt.nombre}}</div>
                                    </div>
                                </ng-template></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label>Usuario</label>
                        <p-dropdown appendTo="body" formControlName="usuario" id="usuario" [options]="listaUsuarios"
                            optionLabel="username" optionValue="username" [showClear]="true" placeholder="TODOS">
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label>Sector</label>
                        <p-dropdown appendTo="body" formControlName="codigoDocumentoSector" id="codigoDocumentoSector"
                            [options]="listaAsociacion" optionLabel="documentoSector" optionValue="codigoDocumentoSector"
                            [showClear]="true"
                            placeholder="TODOS" >
                            <ng-template let-item pTemplate="item">
                                {{item.codigoDocumentoSector}} - {{item.documentoSector}}
                            </ng-template>
                            <ng-template let-item pTemplate="selectedItem">
                                {{item.codigoDocumentoSector}} - {{item.documentoSector}}
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label>Estado Factura</label>
                                <p-multiSelect appendTo="body" id="codigosEstados"
                                [showHeader]="false"
                                [options]="listaEstadosFactura" formControlName="codigosEstados"
                                defaultLabel="TODOS"
                                optionLabel="nombre" optionValue="id">
                                </p-multiSelect>
                    </div>
                </div>
                <!-- <p-divider type="dashed"></p-divider> -->
                <div class="flex justify-content-end flex-wrap">
                    <p-splitButton label="Buscar" icon="pi pi-search" (onClick)="loadData(0)" [model]="opciones"></p-splitButton>
                </div>
            </form>
        </p-tabPanel>
        <p-tabPanel header="Busqueda Por Cliente">
            <form [formGroup]="clienteBusquedaForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <!-- <p><b>Criterios de busqueda</b></p> -->
                <div class="p-fluid p-formgrid grid" *ngIf="esSuperAdm()">
                    <div class="field col-12 md:col-2">
                        <label>Empresa:</label>
                        <p-dropdown appendTo="body" [(ngModel)]="idEmpresa" [ngModelOptions]="{standalone: true}"  id="idEmpresa" [autofocus]="true"
                        [options]="listaEmpresas" optionLabel="nombre" optionValue="id" (onChange)="cambioEmpresa2($event)"
                        placeholder="Seleccione una empresa"
                        ></p-dropdown>
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                            <!-- <input formControlName="codigoCliente" type="text" pInputText id="codigoCliente" placeholder="Código Cliente" maxlength="20" #codigoCliente
                            [pKeyFilter]="blockSpace" uppercase onfocus="this.select();"
                            /> -->
                            <label>Código o Nombre Cliente</label>
                            <p-autoComplete formControlName="cliente" #cliente [suggestions]="listaClientesFiltrados"
                            (completeMethod)="filtrarCliente($event)" [showEmptyMessage]="true" [maxlength]="25"
                            emptyMessage="No existe" [forceSelection]="true"
                            field="codigoCliente" [delay]=500 [showClear]="true" (onClear)="limpiarCliente()"
                            placeholder="Introduzca el código o nombre del cliente" [autofocus]="true">
                                <ng-template let-item pTemplate="item">
                                    <div class="row">
                                        <div class="text-wrap">
                                            <b>{{ item.codigoCliente }}</b> - {{ item.nombre }}
                                        </div>
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                            <small class="p-error block" *ngIf="clienteBusquedaForm.get('cliente')?.hasError('required')">Dato requerido.</small>
                            <!-- <p-button icon="pi pi-search" (onClick)="loadDataCliente()" pTooltip="Buscar por Código Cliente"
                            tooltipPosition="top" styleClass="p-button" tabindex="-1"></p-button> -->
                    </div>
                </div>
                 <!-- <p-divider type="dashed"></p-divider> -->
                 <div class="flex justify-content-end flex-wrap">
                    <p-button label="Buscar" icon="pi pi-search" (onClick)="loadDataCliente()" ></p-button>
                </div>
            </form>
        </p-tabPanel>

        <p-tabPanel header="Busqueda Por Estudiante" *ngIf="facturaEducativoAsignada()">
            <form [formGroup]="estudianteBusquedaForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <!-- <p><b>Criterios de busqueda</b></p> -->
                <div class="p-fluid p-formgrid grid" *ngIf="esSuperAdm()">
                    <div class="field col-12 md:col-2">
                        <label>Empresa:</label>
                        <p-dropdown appendTo="body" [(ngModel)]="idEmpresa" [ngModelOptions]="{standalone: true}"  id="idEmpresa" [autofocus]="true"
                        [options]="listaEmpresas" optionLabel="nombre" optionValue="id" (onChange)="cambioEmpresa3($event)"
                        placeholder="Seleccione una empresa"
                        ></p-dropdown>
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                            <label>Código o Nombre Estudiante</label>
                            <p-autoComplete formControlName="estudiante" #estudiante styleClass="w-full" [suggestions]="listaEstudiantesFiltrados"
                            (completeMethod)="filtrarEstudiante($event)" [showEmptyMessage]="true" [maxlength]="150"
                            [multiple]="true"
                            emptyMessage="No existe" [forceSelection]="true" (onSelect)="seleccionarEstudiante($event)" (onUnselect)="limpiarEstudiante($event)"
                            field="nombreCompleto" [delay]=500
                            placeholder="Introduzca el nombre del estudiante" [autofocus]="true">
                            <ng-template let-item pTemplate="item">
                                <div class="row">
                                    <div class="text-wrap">
                                        <b>{{ item.codigoEstudiante }} - {{ item.nombreCompleto }}</b>
                                        <br>
                                        {{ item.curso }} - {{item.grado}}
                                    </div>
                                </div>
                            </ng-template>
                          </p-autoComplete>

                            <small class="p-error block" *ngIf="estudianteBusquedaForm.get('estudiante')?.hasError('required')">
                                Dato requerido.</small>

                    </div>
                    <!-- <div class="field col-12 md:col-2">
                        <label htmlFor="name2">&nbsp;</label>
                        <button pButton pRipple label="Buscar" icon="pi pi-search" (click)="loadDataCliente()" class="p-button mr-2"></button>
                    </div> -->
                </div>

                <!-- <p-divider type="dashed"></p-divider> -->
                <div class="flex justify-content-end flex-wrap">
                    <p-splitButton label="Buscar" icon="pi pi-search" (onClick)="loadDataEstudiante(0)" [model]="opcionesEstudiantes"></p-splitButton>
                </div>
            </form>
        </p-tabPanel>
    </p-tabView>
</div>

<p-panel header="FACTURAS" [toggleable]="true">
    <p-table #dt styleClass="p-datatable-sm" [value]="items" responsiveLayout="scroll" [rows]="10"
      [globalFilterFields]="['codigoRecepcion','fechaEmision','codigoCliente','nombreRazonSocial','codigoEstado','subtotal','montoTotal','descuentoAdicional','montoTotalGiftCard','montoTotalSujetoIva','estado','cuf','numeroFactura','codigoVenta', 'usuario',
      'puntoVenta','sucursal']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowHover]="true"
        dataKey="id"
        [(first)]="first"
        >
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Filtrar...."
                        class="w-full sm:w-auto" />
                </span>
                <div class="flex">
                    <button pButton pRipple pTooltip="Cambiar Tipo Emisión"  tooltipPosition="top" class="p-button-success mr-2" icon="pi pi-directions" (click)="cambiarTipoEmision()"></button>
                    <button pButton pRipple pTooltip="Evento Contigencia"  tooltipPosition="top" class="p-button-success mr-2" icon="pi pi-calendar-times" (click)="contigencia()"></button>
                    <button pButton pRipple pTooltip="Envio de Contigencias"  tooltipPosition="top" class="p-button-success mr-2" icon="pi pi-cloud-upload"  (click)="enviarContigencia()"></button>
                    <button *ngIf="esVisible()" pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"  (click)=" listaAsociacion.length ===1 ? newItem(listaAsociacion[0].codigoAsociacion) : menu2.toggle($event)"></button>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>N°</th>
                <th pSortableColumn="codigoDocumentoSector">Sector<p-sortIcon field="codigoDocumentoSector"></p-sortIcon>
                <th pSortableColumn="fechaEmision">Fecha<p-sortIcon field="fechaEmision"></p-sortIcon>
                </th>
                <th pSortableColumn="sucursal">Sucursal<p-sortIcon field="sucursal"></p-sortIcon>
                </th>
                <th pSortableColumn="puntoVenta">Punto Venta<p-sortIcon field="puntoVenta"></p-sortIcon>
                </th>
                <!-- <th pSortableColumn="codigoRecepcion">Código Recepcion<p-sortIcon field="codigoRecepcion"></p-sortIcon>
                </th> -->
                <th pSortableColumn="numeroFactura">Número Factura<p-sortIcon field="numeroFactura"></p-sortIcon>
                </th>
                <th pSortableColumn="codigoCliente">Código Cliente<p-sortIcon field="codigoCliente"></p-sortIcon>
                </th>
                <th pSortableColumn="nombreRazonSocial">Razon Social<p-sortIcon field="nombreRazonSocial"></p-sortIcon>
                </th>
                <th pSortableColumn="subtotal">Subtotal<p-sortIcon field="subtotal"></p-sortIcon>
                </th>
                <th pSortableColumn="descuentoAdicional">Descuento Adicional<p-sortIcon field="descuentoAdicional"></p-sortIcon>
                </th>
                <th pSortableColumn="montoTotal">Monto Total<p-sortIcon field="montoTotal"></p-sortIcon>
                </th>
                <!-- <th pSortableColumn="montoTotalGiftCard">Monto GiftCard<p-sortIcon field="montoTotalGiftCard"></p-sortIcon>
                </th> -->
                <th pSortableColumn="montoTotalSujetoIva">Monto Total Sujeto Iva<p-sortIcon  field="montoTotalSujetoIva"></p-sortIcon>
                </th>
                <th pSortableColumn="codigoEstado">Código Estado<p-sortIcon field="codigoEstado"></p-sortIcon>  </th>
                <th pSortableColumn="estado">Estado<p-sortIcon field="estado"></p-sortIcon>  </th>
                <th pSortableColumn="usuario">Usuario<p-sortIcon field="usuario"></p-sortIcon>  </th>
                <!--<th pSortableColumn="idVenta">Código Venta<p-sortIcon field="idVenta"></p-sortIcon>  </th>-->
                <th>Operación</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-i="rowIndex" let-item>
            <tr [ngClass]="{'row-anulada': item.codigoEstado == '905',
            'row-rechazada': item.codigoEstado == '902',
            'row-pendiente': item.codigoEstado == '901',
            'row-no-enviado': item.codigoEstado == '0'}">
                <td><b>{{ i + 1 }}</b></td>
                <td>{{getSector(item.codigoDocumentoSector)}}</td>
                <td>{{item.fechaEmision  | formatoFechaHora }}</td>
                <td>{{item.sucursal}}</td>
                <td>{{item.puntoVenta}}</td>
                <!-- <td>{{item.codigoRecepcion}}</td> -->
                <td>{{item.numeroFactura}}</td>
                <td>{{item.codigoCliente}}</td>
                <td>{{item.nombreRazonSocial}}</td>
                <td class="text-right">{{item.subtotal | formatoDecimal}}</td>
                <td class="text-right">{{item.descuentoAdicional | formatoDecimal}}</td>
                <td class="text-right">{{item.montoTotal | formatoDecimal}}</td>
                <!-- <td class="text-right">{{item.montoGiftCard | formatoDecimal}}</td> -->
                <td class="text-right text-negrita">{{item.montoTotalSujetoIva | formatoDecimal}}</td>
                <td>{{item.codigoEstado}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.usuario}}</td>
                <!--<td>{{item.codigoVenta}}</td>-->
                <td style="width:5rem; min-width:5rem;">
                    <div class="flex">
                        <button appendTo="body" pButton pRipple pTooltip="Más Opciones"  tooltipPosition="top" icon="pi pi-cog"  class="p-button-rounded p-button-primary mr-2"
                            (click)="opcionesFactura(menuFactura, $event, item)"></button>
                        <button pButton pRipple pTooltip="Imprimir factura"  tooltipPosition="top" icon="pi pi-print" class="p-button-rounded p-button-primary mr-2"
                            (click)="descargar(item, true)" ></button>
                        <button pButton pRipple pTooltip="Descargar factura"  tooltipPosition="top" icon="pi pi-arrow-circle-down" class="p-button-rounded p-button-primary mr-2"
                            (click)="descargar(item, false)" ></button>
                        <button pButton pRipple pTooltip="Anular Factura"  tooltipPosition="top" icon="pi pi-times" class="p-button-rounded p-button-danger"
                            (click)="anular(item)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="11" class="text-right">TOTAL</td>
                <td class="text-right">{{getTotalMontoTotalSujetoIva() | formatoDecimal}}</td>
                <td colspan="4" class="text-right"></td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<p-menu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menuFactura [popup]="true" [model]="itemsMenuFactura"></p-menu>
<p-menu #menu2 [popup]="true" [model]="asociaciones"></p-menu>

